@import 'global-scss-mixing';

$top-border: #979797;
$coupon-panel: #edf2f5;
$coupon-panel-border: #e1e7e9;
$light-grey: #eaf0f3;
$no-results-text: #6d7273;
$pp-green: #4e7026;


.coupons-list-container {
	margin-top: 30px;
	border-top: 1px dashed $top-border;
	background-color: $white;
	padding-top: 25px;

	.list-header {
		margin-bottom: 20px;

		.list-title {
			@include font-regular;
			color: $pp-default-text-colour;
			font-size: 1.875em;
		}

	}

	.coupon-row {
		margin-bottom: 6px;
		border: 2px solid $coupon-panel-border;
		border-radius: 10px;
		background-color: $coupon-panel;
		min-height: 150px;
		overflow: hidden;

		.coupon-image {
			z-index: 5;
			background-color: $coupon-panel-border;
			background-position: 50%;
			background-size: cover;
			overflow: hidden;

			.dashes-overlay {
				position: absolute;
				top: 10%;
				right: -2px;
				border: 1px dashed $coupon-panel;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				width: 95%;
				height: 80%;
			}

			.no-image-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: .875rem;

				img {
					max-width: 45%;
				}
			}
		}

		.info-side {
			z-index: 10;
			padding: 15px;
			padding-left: 35px;
		}

		.title {
			@include font-black; 
			margin: 0;
			color: $pp-default-text-colour;
			font-size: 1.5em;
		}

		.expiry-date-label {
			@include font-extra-bold;
			color: $pp-bg-maincolour;
			font-size: .875em;
		}

		.description {
			@include font-regular;
			color: $pp-default-text-colour;
			font-size: .875em;
		}

		.coupon-tag {
			@include font-extra-bold;
			position: absolute;
			right: 10px;
			background: $white;
			padding: 2px 5px;
			text-transform: capitalize;
			color: $top-border;
			font-size: .875em;
		}

		.add-to-cart-wrap {
			text-align: right;
		}

		.remove-btn {
			@include font-extra-bold;
			background: transparent;
			padding: 0;
			color: $pp-bg-maincolour;
			font-size: .875em;

			i:before {
				border-radius: 100%;
				background-color: $white;
			}
		}

		&.added {
			border-color: $pp-green;
		}

		&.expired {
			.title,
			.expiry-date-label,
			.description {
				color: $no-results-text;
			}
		}
	}

	.no-coupon-row {
		.no-results-span {
			color: $no-results-text;
			font-size: 1.875em;
		}

		.no-results-icon {
			color: $light-grey;
			font-size: 10em;
		}
	}
}


@include media-breakpoint-down(lg) { 
	.coupons-list-container {
		.coupon-row {
			.add-to-cart {
				width: 150px;
			}
		}
	}
}

@include media-breakpoint-down(sm) { 
	.coupons-list-container {
		.coupon-row {

			.coupon-image {
				.dashes-overlay {
					right: 5%;
					width: 90%;
				}
			}

			.add-to-cart-wrap {
				margin-top: 10px;
				text-align: left;
			}

			.add-to-cart {
				padding: 10px;
				width: 150px;
				font-size: .8em;
			}

			.info-side {
				padding-left: 15px;
			}

			.title {
				font-size: 1.2em;
			}

			.expiry-date-label {
				font-size: .7em;
			}

			.description {
				font-size: .7em;
			}
		}
	}
}
