<div class="container-fluid accounts-payment-method-container mx-0 px-0">

	<!-- Ng Container - Holds all Logic -->
	<ng-container *ngFor="let userPaymentMethod of userPaymentMethods; let i=index;">
		<button (click)="onSelect($event, userPaymentMethod)" class="btn-no-style w-100 text-left" 
			[disabled]="userPaymentMethod.status === ServerPaymentCardStatusEnum.EXPIRED">
		<!-- User Payment Methods Row - Holds Each Activity in a row with it's subcomponent -->
		<div class="row my-2 mx-0 px-0 user-payment-methods-row align-items-start"
			[class.is-default]="isSelected(userPaymentMethod) && userPaymentMethod.status !== ServerPaymentCardStatusEnum.EXPIRED"
			[class.expired]="userPaymentMethod.status === ServerPaymentCardStatusEnum.EXPIRED">

			<!-- Main Column - Holds Activity Title, Icons & Call to Actions -->
			<div class="col-auto user-payment-methods-left-col align-self-start">
				<img class="img img-fluid pp-image-loaded" width="42" height="42" src="{{getCardLogo(userPaymentMethod.cardType)}}" alt="credit-card">
			</div>

			<!-- User Payment Methods Right Column - Holds Card name, card number & Actions -->
			<div class="col-auto user-payment-methods-right-col">

				<div class="user-payment-method-card-name">
					{{userPaymentMethod.name}}
				</div>

				<div class="user-payment-method-card-number">
					**** **** **** {{userPaymentMethod.number}}
				</div>

				<div class="user-payment-method-actions" *ngIf="isAccountPage">
					<button class="payment-btn p-0"
						(click)="onDelete($event, userPaymentMethod.token, userPaymentMethod.cardType)">
						<i class="icon-delete"></i>
							<ng-container i18n>Delete</ng-container>
					</button>
					<!-- EDIT IS REMOVED FOR WAVE 1 -->
					<!-- <button class="payment-btn p-0"
						(click)="onEditClick($event, userPaymentMethod.token)">
						<i class="icon-edit"></i>
						Edit
					</button> -->
				</div>

			</div>
			<!-- End of User Payment Methods Right Column -->
			<div class="col-auto ml-auto text-right payment-method-default-col">
				<span *ngIf="!isSelected(userPaymentMethod) && userPaymentMethod.status !== ServerPaymentCardStatusEnum.EXPIRED" class="payment-btn">
					<ng-container *ngIf="isAccountPage" i18n>Set Default</ng-container>
					<ng-container *ngIf="!isAccountPage" i18n>Select</ng-container>
				</span>
				<span class="location-selected-row" *ngIf="isSelected(userPaymentMethod) && userPaymentMethod.status !== ServerPaymentCardStatusEnum.EXPIRED">
					<ng-container *ngIf="isAccountPage" i18n>Default</ng-container>
					<i class="icon-checkmark"></i>
				</span>
				<button class="payment-btn p-0 d-block"
					(click)="onEditClick($event, userPaymentMethod.token)"
					i18n>
					Update
				</button>
			</div>
		</div>
		<span class="text-danger small mb-3 d-block" *ngIf="userPaymentMethod.status === ServerPaymentCardStatusEnum.EXPIRED" i18n>
			Card is expired. Please update your card.
		</span>
		<!-- End of User Payment Methods Row -->
		</button>
	</ng-container>
	<!-- End of Ng Container -->

</div>
<!-- End of Container -->