@import 'global-scss-mixing';

$caption-bg: #edf2f5;
$border-gray: #dae0e2;

.recommendations-container {

	.club-just-for-you-card {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		.img-fluid {
			width: 120%;
			height: auto;
		}

		p {
			line-height: 1.2em;
			font-size: 1em;
		}
	}

	.coupon-wallet-card {
		.overlay {
			@include font-black;
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
			padding: 0 25px;
			height: 100%;
			color: $white;
		}

		.overlay-text {
			width: 60%;
			text-align: left;
			font-size: 1.25em;

			&.coupon-text {
				width: 100%;

				.coupon-count {
					line-height: 1;
					font-size: 2.813rem;
				}
			}
		}
	}

	.error-state {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $caption-bg;
		height: 260px;
	}

	&.is-error {
		.swiper-container {
			display: none;
		}
	}

	.content-title {
		@include font-extra-bold;
		text-transform: uppercase;
		color: $pp-bg-maincolour;
		font-size: 24px;
	}

	.content-navigate {
		@include font-extra-bold;
		color: $pp-default-text-colour;
		font-size: 20px;

		a {
			color: $pp-default-text-colour;
		}

		span {
			padding-left: 7px;
		}
	}

	.slide-image {
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		background-position: 50%;
		min-height: 200px;
		overflow: hidden;
		text-align: center;

		.default-slide-image {
			width: auto;
			height: 100%;
		}
	}

	.caption {
		@include font-black;
		border: solid $border-gray 1px;
		border-bottom-left-radius: 9px;
		border-bottom-right-radius: 9px;
		background-color: $caption-bg;
		cursor: pointer;
		text-transform: uppercase;
		line-height: 1.1em;
		letter-spacing: .37px;
		color: $pp-default-text-colour;
		font-size: 1.25em;

		&:hover {
			text-decoration: none;
		}
	}

	.icon-arrow-navigate {
		color: $pp-bg-maincolour;
	}

	.repeat-last {
		@include gradient9;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;

		.repeat-order-one {
			position: absolute;
			bottom: 0;
			// max-height: 80%;
		}
	}

	.club1111 {
		@include gradient11;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		text-align: left;

		.label {
			@include font-regular;
			letter-spacing: .21px;
			color: $white;
			font-size: .875em;
		}

		.value {
			@include font-extra-bold;
			line-height: .75em;
			letter-spacing: .53px;
			color: $white;
			font-size: 2.25em;
		}
	}

	.my-pizzas {
		@include gradient1;
	}

	.border-right {
		border-right: 3px solid $white;
	}

	.border-top {
		border-top: 3px solid $white;
	}

	//swiper
	.swiper-container {
		position: relative;
		z-index: 1;
		margin-right: auto;
		margin-left: auto;
		padding-right: 30px;
		overflow: hidden;
	}

	.swiper-wrapper {
		display: flex;
		position: relative;
		padding: 0 0 0 30px;
		width: 100%;
		height: 100%;
		transition-property: transform;
		box-sizing: content-box;
	}

	.swiper-slide {
		position: relative;
		flex-shrink: 0;
		width: calc(33% - 30px);
		height: auto;
	}

	.icon-arrow-slice {
		position: relative;
		top: 30%;
		padding-left: 1em;
		color: $white;
		font-size: .5em;
	}

	%swiper-button-next {
		position: absolute;
		top: 35%;
		right: 0;
		left: auto;
		transform: rotate(180deg);
		margin-top: -22px;
		border-top-right-radius: 5em;
		border-bottom-right-radius: 5em;
		background: $white;
		cursor: pointer;
		width: 2.5em;
		height: 5em;
	}

	.swiper-button-next {
		@extend %swiper-button-next;
	}

	.slider-nav-next-bg {
		@extend %swiper-button-next;
		left: 0;
		transform: rotate(0deg);
		margin-top: -50%;
		border-top-right-radius: 4em;
		border-bottom-right-radius: 4em;
		background: $pp-bg-maincolour;
		width: 2em;
		height: 4em;
	}

	%swiper-button-prev {
		position: absolute;
		top: 35%;
		margin-top: -22px;
		border-top-right-radius: 5em;
		border-bottom-right-radius: 5em;
		background: $white;
		cursor: pointer;
		width: 2.5em;
		height: 5em;
	}

	.swiper-button-prev {
		@extend %swiper-button-prev;
	}

	.slider-nav-prev-bg {
		@extend %swiper-button-prev;
		margin-top: -50%;
		border-top-right-radius: 4em;
		border-bottom-right-radius: 4em;
		background: $pp-bg-maincolour;
		width: 2em;
		height: 4em;
	}

	@include media-breakpoint-only(md) {
		.caption {
			line-height: 1rem;
			font-size: 1rem;
		}
	}

	@include media-breakpoint-down(sm) {
		.swiper-slide {
			width: 90%;
		}

		.content-title {
			font-size: 1.25em;
		}

		.title-brown {
			font-size: 1em;
		}

		.title-white {
			line-height: 10%;
			font-size: 1em;
		}

		.caption {
			line-height: 1rem;
			font-size: 1.125rem;
		}

		.club1111 {

			.value {
				font-size: 1.125rem;
			}
		}

		.swiper-button-prev {
			display: none;
		}

		.swiper-button-next {
			display: none;
		}
	}
}

