@import 'global-scss-mixing';

$mid-grey: #dae9f0;
$light-grey: #edf2f5;
$not-active-btn-color: #6d7273;
$btn-dark-grey: #dbe4ea;
$ghost-loader-bg: #e1e7e9;
$pp-green: #4e7026;
$black: #000;
$border-grey: #ccd6d8;
$pp-secondary-text-color: #3b210b;


.accounts-add-pick-up-location-form-container {

	.address-input {
		padding: 0;
	}
}
