@import 'global-scss-mixing';

$mid-grey: #dae9f0;
$light-grey: #edf2f5;
$not-active-btn-color: #6d7273;
$ghost-loader-bg: #e1e7e9;
$modal-bg: #000;
$pp-green: #4e7026;

.prompt-modal {
	margin: 0 auto;
	margin-top: 15%;

	.prompt-modal-x {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 11;
		border: 0;
		background: transparent;
		cursor: pointer;
		color: $pp-bg-maincolour;
		font-size: .65em;
	}

	.prompt-modal-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		.pp-form {
			.invalid-text-alt {
				display: inline-block;

				span {
					display: inline-block;
					width: 100%;
					white-space: nowrap;
				}
			}

			.optional-label-identifier {
				font-size: .9em;
			}
		}
	}

	.content-bottom {
		display: block;
		border-top: 1px solid $pp-bg-maincolour;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		background-color: $white;
	}

	.modal-dialog {
		width: 600px;
		max-width: 100%;
	}

	.modal-content {
		border: 0;
		border-radius: 15px;
		background-color: $light-grey;
		width: 100%;
	}

	.prompt-modal-icon-row {
		color: $pp-bg-maincolour;
		font-size: 1.8em;
	}

	.prompt-modal-header-row {
		@include font-regular;
		text-align: center;
		letter-spacing: .25px;
		color: $pp-default-text-colour;
		font-size: 1.875em;
	}

	.prompt-modal-body-text {
		@include font-regular;
		text-align: center;
		line-height: 1.175;
		letter-spacing: .15px;
		color: $pp-default-text-colour;
		font-size: .875em;
	}

	.prompt-modal-button-col {

		button {
			@include font-black;
			border: 0;
			border-radius: 5px;
			cursor: pointer;
			width: 100%;
			height: 65px;
			letter-spacing: .31px;
			font-size: 1em;

			.btn-text {
				.button-inner-load {
					display: none;
				}

				&.button-load {
					background-color: $pp-bg-maincolour;

					.button-inner-text {
						display: none;
					}

					.button-inner-load {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}

		.prompt-modal-cancel-button {
			margin-left: 20px;
			background-color: $white;
			padding: 0;
			color: $pp-bg-maincolour;
		}

		.prompt-modal-okay-button {
			margin-right: 20px;
			background-color: $orange;
			padding: 0;
			color: $white;
		}	
	}		

	.btn-lg {
		width: 100%;
		height: 3.2em;
	}
}

@include media-breakpoint-down(sm) {
	.prompt-modal {
		margin-top: 0;
		border-radius: 0;
		width: 100%;
		height: 100%;

		.modal-dialog,
		.modal-content {
			margin: 0;
			border-radius: 0;
			width: 100%;
			height: 100%;

		}

		.prompt-modal-header-col,
		.prompt-modal-body-col,
		.prompt-modal-button-col {
			margin-top: 18vh;
		}

		.prompt-modal-button-col {
			
			button {
				height: 45px;
			}

			.prompt-modal-cancel-button {
				margin-bottom: 2.25%;
				margin-left: 0;
				background-color: $white;
				padding: 0;
				color: $pp-bg-maincolour;
			}

			.prompt-modal-okay-button {
				margin-right: 0;
				background-color: $orange;
				padding: 0;
				color: $white;
			}
		}

		.content-top {
			flex: 1;
			align-items: center;
		}

		.content-bottom {
			flex: 1;
			border-radius: 0;
		}
	}
}

@include media-breakpoint-down(xs) {
	.prompt-modal {
		.prompt-modal-header-col {
			.prompt-modal-icon-row {
				font-size: 1.6em;
			}

			.prompt-modal-header-row {
				font-size: 2em;
			}
		}

		.prompt-modal-body-col {
			.prompt-modal-body-text {
				text-align: center;
				line-height: 1.05em;
			}
		}
	}
}
