@import 'global-scss-mixing';

.accounts-component-container {
	.accounts-container-row-two {
		.row-two-account-activities-col {
			margin-right: 1%;
			margin-left: -1%;
		}
	}

	.club-eleven-eleven-card-container {
		border-radius: 9px;
	}

	&.footer-spacer {
		height: 30px;
	}

	.store-modal-close {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 22;
		border: 0;
		background: transparent;
		cursor: pointer;
		color: $pp-bg-maincolour;
	}
}

@include media-breakpoint-down(sm) {
	.accounts-component-container {
		.accounts-container-row-two {
			.row-two-account-activities-col {
				margin-right: 0;
				margin-left: 0;
			}
		}

		&.footer-spacer {
			height: 20px;
		}
	}
}
