
.icon-spicy:before { content: '\e800'; } /* '' */
.icon-new:before { content: '\e801'; } /* '' */
.icon-veggie:before { content: '\e802'; } /* '' */
.icon-pp-large:before { content: '\e803'; } /* '' */
.icon-pp-medium:before { content: '\e804'; } /* '' */
.icon-pp-x-large:before { content: '\e805'; } /* '' */
.icon-pp-small:before { content: '\e806'; } /* '' */
.icon-base:before { content: '\e807'; } /* '' */
.icon-instructions:before { content: '\e808'; } /* '' */
.icon-toppings:before { content: '\e809'; } /* '' */
.icon-cheesebottom:before { content: '\e80a'; } /* '' */
.icon-cheesereg:before { content: '\e80b'; } /* '' */
.icon-cheeseeasy:before { content: '\e80c'; } /* '' */
.icon-cheesetop:before { content: '\e80d'; } /* '' */
.icon-saucebottom:before { content: '\e80e'; } /* '' */
.icon-sauceeasy:before { content: '\e80f'; } /* '' */
.icon-saucereg:before { content: '\e810'; } /* '' */
.icon-saucetop:before { content: '\e811'; } /* '' */
.icon-choose-dip-1:before { content: '\e812'; } /* '' */
.icon-wings-five-pieces:before { content: '\e815'; } /* '' */
.icon-choose-wing-1:before { content: '\e81e'; } /* '' */
.icon-wings-ten-pieces:before { content: '\e855'; } /* '' */
.icon-wings-twenty-pieces:before { content: '\e856'; } /* '' */
.icon-olive-oil:before { content: '\e88f'; } /* '' */