@import 'global-scss-mixing';

$semi-transparent-white: rgba(255, 255, 255, .4);

.my-pizza-container {
	.empty-state {
		color: $form-grey;

		i {
			color: $error-icon-grey;
			font-size: 7rem;
		}
	}
}

@include media-breakpoint-down(sm) {

	.back-wrap::after {
		display: block;
		border-bottom: 1px solid $semi-transparent-white;
		width: 100%;
		height: 1px;
		content: '';
	}
}
