// All global color variables should live here
$pp-bg-maincolour: #ee5a00;
$pp-bg-secondcolor: #ff9700;
$pp-default-text-colour: #4c3017;
$pp-light-gray: #ccd6d8;
$pp-dark-gray: #3b210b;
$pp-error-colour: #f00;
$pp-dark-maincolour: #b64c1b;

$white: #fff;
$green: #4e7026;
$light-green: #8abc53;

$form-grey: #6d7273;
$form-button-grey: #dbe4ea;
$form-btn-disabled: #d1dde1;

$footer-gray: #eef2f5;
$border-line-color: #e1e7e9;

$error-icon-grey: #eaf0f3;

$from-gray:  #484848;
$to-offwhite: #f0f2f2
